<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom py-3">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img src="../../../assets/logo.png" alt="App Logo" width="48px"><h1 class="fs-4 d-inline ms-3">ng Currency Exchanger</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/details/EURtoUSD">EUR-USD Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/details/EURtoGBP">EUR-GBP Details</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>